
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    transition: .2s linear ;
}

body {
    display: block;
    background: black;
}
html {
    
    width: 100%;
    scroll-behavior: smooth;
    font-size: 100%;
    height: 100%;
}

.container {
    height: 600px;
    left: 0;
    position: relative;
}

.header {
    font-size: 34px;
    color: yellow;
}
.header .task{
    margin: 6px;
    font-weight: 400;
}

.btn {
    position: absolute;
    top: 1.4rem;
    right: 7rem;
    
}
.btn:hover{
    color: rgb(83, 79, 43);
    cursor: pointer;
}

button {
    color: black;
    height: 36px;
    width: 100px;
    background:yellow;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 5px;
}

#data
{   
    margin: 50px;
    background: yellow;
    text-align: center;
    justify-content: center;
    display: flex;
    
}
.table 

{
    width: 1152px;
}

table {
    color: black;
    font-size: 1.2rem;
    font: 700;
}

table tr td:hover 
{
    background-color: black;
    cursor: pointer;
    color: #fff;
}

img 
{
    clip-path: circle();
}

footer 
{   
    text-align: center;
    background: #fff;
    color: black;
    height: 22%;
    bottom: -93px;
    font-size: 17px;
    font-weight: bold;
}

.welcome 
{
    position: relative;
}

@media (max-width: 1104px) {
    html {
        font-size: 100%;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 130%;
        width: 100%;
        height: 100%;
    }
    .header {
        transform: scale(40%, 80px);
    }
}

@media (max-width: 947px) {
    html {
        font-size: 100%;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 690px) {
    html {
        font-size: 80%;
        width: 100%;
        height: 100%;
    }
    button {
        width: 120%;
    }
    footer {
        bottom: -195px;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 60%;
        width: 100%;
        height: 150%;
    }
    button {
        width: 130%;
    }
    footer {
        bottom: -390px;
    }
}

@media (max-width: 360px) {
    html {
        font-size: 45%;
        width: 100%;
        height: 180%;
    }
    .task {
        font-size: 20px;
    }
    .table {
        width: fit-content;
    }
    button {
        width: 130%;
    }
    footer {
        width: 120%;
        font-size: 100%;
        bottom: -367px;
    }
}